.col{
    flex-basis: 0;
    flex-grow: 1;
    max-width: 100%;
}
.col-01{
    flex: 0 0 8.333333%;
    max-width: 8.333333%;
}
.col-02{
    flex: 0 0 16.666667%;
    max-width: 16.666667%;
}
.col-03{
    flex: 0 0 25%;
    max-width: 25%;
}
.col-04{
    flex: 0 0 33.333333%;
    max-width: 33.333333%;
}
.col-05{
    flex: 0 0 41.666667%;
    max-width: 41.666667%;
}
.col-06{
    flex: 0 0 50%;
    max-width: 50%;
}
.col-07{
    flex: 0 0 58.333333%;
    max-width: 58.333333%;
}
.col-08{
    flex: 0 0 66.666667%;
    max-width: 66.666667%;
}
.col-09{
    flex: 0 0 75%;
    max-width: 75%;
}
.col-10{
    flex: 0 0 83.333333%;
    max-width: 83.333333%;
}
.col-11{
    flex: 0 0 91.666667%;
    max-width: 91.666667%;
}
.col-12{
    flex: 0 0 100%;
    max-width: 100%;
}