@import '../../../design/colors.scss';

.site-header {
    display: table;
    width: 100%;
    height: 70px;
    background-color: $color-primary;
    color: #fff;
    border-collapse: collapse;
    z-index: 200;
    user-select:none;
    .h_wrapper{
        display: flex;
        justify-content: space-between;
        height: 100%;
        padding: 15px 15% 0 15%;
        @media(max-width:800px){
            justify-content: center;
            padding: 14px;
        }
        .h_logo{
            width:270px;
            float: left;
            svg{
                width:100%;
                max-width: 100%;
                height: 41px;
                object-fit: contain;
            }
        }
    }
}