@import '../../../design/colors.scss';
@import '../../../design/formularios.scss';
.sec-login {
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    min-height: 300px;
    margin-top: 100px;
    .block-row{
        flex: 1;
        width: 100%;
        .block-column{
            align-content: center;
            width: 440px;
            @media(max-width:800px){
                width: 100%;
            }
            .r-title{
                font-weight: bold;
                text-align: center;
                margin-bottom: 50px;
            }
            &.col-left{
                border-right: 2px solid $color-border;
                border:0;
            }
            &.col-right{
                padding-left: 38px;
                @media(max-width:800px){
                    padding-left: 10px;
                }
            }
        }
    }
}

.form-control{
    height: 45px;
}
.label{
    font-weight: 500;
}