<section class="sec-painel-info">
  <router-link to="/" class="box-item color-warning">
      <h3 class="title"><i class="fas fa-shopping-basket"></i> Total Pedidos</h3>
      <span class="valor">{{infos.TotPedidos}}</span>
  </router-link>

  <router-link to="/" class="box-item color-success">
      <h3 class="title"><i class="fas fa-credit-card"></i> Total Vendas</h3>
      <span class="valor">{{infos.TotVendas}}</span>
  </router-link>

  <router-link to="/" class="box-item color-info">
      <h3 class="title"><i class="fas fa-users"></i> Total Usuarios</h3>
      <span class="valor">{{infos.TotUsuario}}</span>
  </router-link>

  <router-link to="/" class="box-item color-default">
      <h3 class="title"><i class="fas fa-chart-line"></i> Total de visitas/Mês</h3>
      <span class="valor">{{infos.TotVisitaMes}}</span>
  </router-link>
</section>

